[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
django = "*"
gunicorn = "==20.0.4"
dj-database-url = "*"
whitenoise = "*"
psycopg2-binary = "*"
django-allauth = "==0.43.0"

[requires]
python_version = "3.8"
